body{
    font-family: sans-serif;
    background-color: rgb(246 246 246);
    -webkit-font-smoothing: antialiased;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    margin: 0;
}